# Importar Pandas

In [10]:
#importa pandas
import pandas as pd

In [13]:
pd.__version__

'1.3.4'

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [38]:
# Crea una Serie de los numeros 10, 20 and 10.
s1 = pd.Series([10,20,10])
s1

0    10
1    20
2    10
dtype: int64

In [17]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
s2 = pd.Series(['rojo', 'verde', 'azul'])
s2

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [15]:
# Crea un dataframe vac√≠o llamado 'df'
df= pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [22]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df["Serie Numeros"]=s1
df

   Serie Numeros
0             10
1             20
2             10

In [24]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df["Serie Colores"]=s2
df

   Serie Numeros Serie Colores
0             10          rojo
1             20         verde
2             10          azul

# Leer un dataframe

In [48]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo est√° localizado en "data/avengers.csv"
ruta="./src/pandas/avenger.xlsx"
df_Avenger=pd.read_excel(ruta)
df_Avenger

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_,"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ult
1,http://marvel.wikia.com/Janet_,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret
2,http://marvel.wikia.com/Anthon,"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later w"
3,http://marvel.wikia.com/Robert,Robert Bruce Banner,2089,YES,MALE,1963,Dies in Ghosts
4,http://marvel.wikia.com/Thor_O,Thor Odinson,2402,YES,MALE,1963,Dies in Fear It
...,...,...,...,...,...,...,...
168,http://marvel.wikia.com/Eric_B,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_B,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ay,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_,Kaluu,35,YES,MALE,2015,NaN

# Inspeccionar un dataframe

In [49]:
# Muestra las primeras 5 filas del DataFrame.
df_Avenger.head()

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_,"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ult
1,http://marvel.wikia.com/Janet_,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret
2,http://marvel.wikia.com/Anthon,"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later w"
3,http://marvel.wikia.com/Robert,Robert Bruce Banner,2089,YES,MALE,1963,Dies in Ghosts
4,http://marvel.wikia.com/Thor_O,Thor Odinson,2402,YES,MALE,1963,Dies in Fear It

In [50]:
# Muestra las primeras 10 filas del DataFrame. 
df_Avenger.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_,"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ult
1,http://marvel.wikia.com/Janet_,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret
2,http://marvel.wikia.com/Anthon,"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later w"
3,http://marvel.wikia.com/Robert,Robert Bruce Banner,2089,YES,MALE,1963,Dies in Ghosts
4,http://marvel.wikia.com/Thor_O,Thor Odinson,2402,YES,MALE,1963,Dies in Fear It
5,http://marvel.wikia.com/Richar,Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven,Steven Rogers,3458,YES,MALE,1964,Dies at the end
7,http://marvel.wikia.com/Clint_,Clinton Francis Barton,1456,YES,MALE,1965,Dies in explodi
8,http://marvel.wikia.com/Pietro,Pietro Maximoff,769,YES,MALE,1965,Dies in House o
9,http://marvel.wikia.com/Wanda_,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny

In [51]:
# Muestra las √∫ltimas 5 filas del DataFrame.
df_Avenger.tail()

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_B,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_B,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ay,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_,Kaluu,35,YES,MALE,2015,NaN

# Tama√±o del DataFrame

In [62]:
# Muestra el tama√±o del DataFrame
f,c=df_Avenger.shape
print(f"filas: {f}")
print(f"Columnas: {c}")

filas: 173
Columnas: 7

# Data types en un DataFrame

In [64]:
# Muestra los data types del dataframe
tipo=df_Avenger.dtypes
tipo

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [107]:
# Cambia el indice a la columna "fecha_inicio".
df2_Avenger=df_Avenger.set_index("fecha_inicio")
df2_Avenger

,URL,nombre,n_apariciones,actual,genero,Notes
fecha_inicio,,,,,,
1963,http://marvel.wikia.com/Henry_,"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ult
1963,http://marvel.wikia.com/Janet_,Janet van Dyne,1165,YES,FEMALE,Dies in Secret
1963,http://marvel.wikia.com/Anthon,"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later w"
1963,http://marvel.wikia.com/Robert,Robert Bruce Banner,2089,YES,MALE,Dies in Ghosts
1963,http://marvel.wikia.com/Thor_O,Thor Odinson,2402,YES,MALE,Dies in Fear It
...,...,...,...,...,...,...
2013,http://marvel.wikia.com/Eric_B,Eric Brooks,198,YES,MALE,NaN
2014,http://marvel.wikia.com/Adam_B,Adam Brashear,29,YES,MALE,NaN
2014,http://marvel.wikia.com/Victor,Victor Alvarez,45,YES,MALE,NaN
2014,http://marvel.wikia.com/Ava_Ay,Ava Ayala,49,YES,FEMALE,NaN
2015,http://marvel.wikia.com/Kaluu_,Kaluu,35,YES,MALE,NaN

# Ordenar el indice

In [83]:
# Ordena el √≠ndice de forma descendiente
df2_Avenger.sort_values(by=["fecha_inicio"],ascending=[False])

,URL,nombre,n_apariciones,actual,genero,Notes
fecha_inicio,,,,,,
2015,http://marvel.wikia.com/Kaluu_,Kaluu,35,YES,MALE,NaN
2015,http://marvel.wikia.com/Sam_Al,Sam Alexander,78,YES,MALE,NaN
2014,http://marvel.wikia.com/Ava_Ay,Ava Ayala,49,YES,FEMALE,NaN
2014,http://marvel.wikia.com/Victor,Victor Alvarez,45,YES,MALE,NaN
2014,http://marvel.wikia.com/Adam_B,Adam Brashear,29,YES,MALE,NaN
...,...,...,...,...,...,...
1900,http://marvel.wikia.com/Emery_,Emery Schaub,26,YES,MALE,NaN
1900,http://marvel.wikia.com/James_,James Santini,40,YES,MALE,NaN
1900,http://marvel.wikia.com/Elvin_,Elvin Haliday,158,NO,MALE,NaN
1900,http://marvel.wikia.com/Willia,William Baker,355,NO,MALE,Died in Identit
1900,http://marvel.wikia.com/Julie_,Julie Power,153,YES,FEMALE,NaN

# Resetear el indice
Este metodo es un proceso, No retorna nada

In [108]:
# Resetea el √≠ndice
df2_Avenger.reset_index(drop=True, inplace=True)
df2_Avenger

,URL,nombre,n_apariciones,actual,genero,Notes
0,http://marvel.wikia.com/Henry_,"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,Merged with Ult
1,http://marvel.wikia.com/Janet_,Janet van Dyne,1165,YES,FEMALE,Dies in Secret
2,http://marvel.wikia.com/Anthon,"Anthony Edward ""Tony"" Stark",3068,YES,MALE,"Death: ""Later w"
3,http://marvel.wikia.com/Robert,Robert Bruce Banner,2089,YES,MALE,Dies in Ghosts
4,http://marvel.wikia.com/Thor_O,Thor Odinson,2402,YES,MALE,Dies in Fear It
...,...,...,...,...,...,...
168,http://marvel.wikia.com/Eric_B,Eric Brooks,198,YES,MALE,NaN
169,http://marvel.wikia.com/Adam_B,Adam Brashear,29,YES,MALE,NaN
170,http://marvel.wikia.com/Victor,Victor Alvarez,45,YES,MALE,NaN
171,http://marvel.wikia.com/Ava_Ay,Ava Ayala,49,YES,FEMALE,NaN
172,http://marvel.wikia.com/Kaluu_,Kaluu,35,YES,MALE,NaN